<input type="text" appCurrencyFormatter [(ngModel)]="value" #currencyInput="ngModel">

<br>
<button (click)="setValue('123556789')">Button A</button>
<br>
<button (click)="setValue('987654321.00')">Button B</button>
<br>
<button (click)="setValue('1235')">Button C</button>
<br>
<button (click)="setValue('$1235.00')">Button D</button>
<br>
<button (click)="setValue('ABC')">Button E</button>
<br>
<div *ngIf="currencyErrorMessage" class="error-message">{{ currencyErrorMessage }}</div>


<router-outlet></router-outlet>

