<input type="text" appCurrencyFormatter [(ngModel)]="value" #currencyInput="ngModel">

<table>
    <tr>
        <td colspan="2">
            <button (click)="setValue('123556789')">123556789</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="setValue('987654,321.00')">987654,321.00</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="setValue('4821')">4821</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="setValue('$1235.00')">$1235.00</button>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="setValue('ABC')">ABC</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="setValue(newInput.value)">Anything</button>
        </td>
        <td>
            <input type="text" #newInput>
        </td>
    </tr>
</table>

<div *ngIf="currencyErrorMessage" class="error-message">{{ currencyErrorMessage }}</div>



<router-outlet></router-outlet>

